<.flash_group flash={@flash} />
<header class="px-4 sm:px-6 lg:px-8">
  <h1>Dokoka</h1>
</header>

<main class="py-8">
  <p>ここは世界のどこかにあるSNSです。</p>
  <.link href={~p"/posts"}>
    <.button>みんなの投稿を見てみる</.button>
  </.link>
</main>

<footer class="py-8">
  Footer links
</footer>
